.paper-title{
    text-align: center;
    margin: auto;
    margin-top: 5ch;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.short-title{
    font-size: 45px;
}

.authors-list{
    width: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.authors-list .row{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.author-name{
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 14px;
    font-weight: 400;
}
.affiliation{
    margin-block-start: 2px;
    margin-block-end: 2px;
    font-size: 12px;
    font-weight: 400;
}
.author-denote{
    font-size: 12px;
    font-weight: 400;
}

.resource-link{
    width: 40%;
    margin: auto;
    margin-top: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.resource-link .row{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.resource-link a{
    text-decoration: none;
}

.resource-icon{
    height: 50px;
}

.resource-text{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.abstract{
    width: 65%;
    margin: auto;
    margin-top: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
}

.abstract-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

.abstract-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
}

.intro-images{
    width: 55%;
    margin: auto;
    margin-top: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.intro-images .row{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.video{
    width: 65%;
    margin: auto;
    margin-top: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
}

.video-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

.view-3D{
    width: 65%;
    margin: auto;
    margin-top: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
}

.view-3D-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

.view-3D .row{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

model-viewer{
    background-color: #EDEDED;
    height:100%;
	width:100%;
}

.thingi .col model-viewer{
    height: 400px;
    width: 300px;
}

.shapenet-s .col model-viewer{
    height: 300px;
    width: 200px;
}

.shapenet-l .col model-viewer{
    height: 300px;
    width: 300px;
}

.citation{
    width: 65%;
    margin: auto;
    margin-top: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EDEDED;
}

.citation-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}

.citation-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 100;
}

table.dataintable {
	margin-top:15px;
	border-collapse:collapse;
	border:1px solid #aaa;
	width:100%;
	}

table.dataintable th {
	vertical-align:baseline;
	padding:10px 10px 10px 10px;
	background-color:#3F3F3F;
	border:1px solid #3F3F3F;
	text-align:center;
	color:#fff;
	}

table.dataintable td {
	vertical-align:text-top;
	padding:1px 1px 1px 1px;
	border:1px solid #aaa;
	}

table.dataintable tr:nth-child(odd) {
	background-color:#F5F5F5;
}

table.dataintable tr:nth-child(even) {
	background-color:#fff;
}

table.dataintable pre {
	width:auto;
	margin:0;
	padding:0;
	border:0;
	background-color:transparent;
	}

table.dataintable p {margin:0 0 2px 0;}

div#maincontent table.dataintable ul, div#maincontent table.dataintable li {
	list-style-type:none;
	margin:0;
	padding:0;
	}

table.dataintable td em
		{
		color:#0000ff;
		font-weight:normal;
		}
	
table.dataintable .table_value {color:#0F93D2;}

.no_wrap {white-space:nowrap;}

div#maincontent table.dataintable ul.listintable {
	margin:20px;
	padding:0;
	}

div#maincontent table.dataintable ul.listintable  li{
	list-style-type:disc;
	}


table.dataintable td.html5_new {
	background: transparent url(/ui2017/table_bg_html5.png) top right no-repeat;
	}

tr.notsupported {
	color:#999999;
	}

p.deprecated, span.deprecated {
	color:#e80000;
	}

div#maincontent p.deprecated {
	margin-top: 9px;
	}

div#maincontent table.dataintable p {
	line-height: 130%;
}
